#kendoUiMobileApp .image-with-text img {
    float: left;
    margin-right: 15px;
}
#kendoUiMobileApp .block {
    display: block;
    margin: 1em;
    padding: 1em;
    text-align: center;
}
#kendoUiMobileApp .button-group,
#kendoUiMobileApp .icon-group {
    width: 100%;
    display: table;
    border-collapse: separate;
    border-spacing: 1em;
}
#kendoUiMobileApp .button-group {
    table-layout: fixed;
}
#kendoUiMobileApp .button-group .km-button {
    display: table-cell;
    padding: .6em .8em;
    margin: 1em 0;
}
#kendoUiMobileApp .button-group.button-group-vertical .km-button {
    display: block;
}
#kendoUiMobileApp .group-separator {
    border: none;
    background: transparent;
}
#kendoUiMobileApp .group-separator-header {
    margin: 1em 0;
}
#kendoUiMobileApp .app-icon {
    text-align: center;
    margin: 3em 0;
}
#kendoUiMobileApp .view-title {
    text-align: center;
    font-weight: normal;
}
#kendoUiMobileApp .km-drawer-button:after,
#kendoUiMobileApp .km-drawer-button:before {
    content: '\e077';
}
#kendoUiMobileApp.km-flat .km-drawer .km-content {
    background-color: #fcfcfc;
}
#kendoUiMobileApp form .form-content li p {
    margin: 0;
    padding: 0;
}
#kendoUiMobileApp .icon-group .app-icon,
#kendoUiMobileApp .icon-group .app-details {
    display: table-cell;
    vertical-align: top;
}
#kendoUiMobileApp .icon-group .app-icon {
    margin: 0;
    width: 5em;
    overflow: hidden;
    text-align: left;
}
#kendoUiMobileApp .icon-group .app-icon img {
    display: block;
    max-width: 5em;
    height: auto;
}
#kendoUiMobileApp .icon-group .app-details h2,
#kendoUiMobileApp .icon-group .app-details h4 {
    font-weight: normal;
    margin: 0;
}
#kendoUiMobileApp .icon-group .app-details h4 {
    color: #828282;
    margin-top: 0.5em;
}
#kendoUiMobileApp #navigation-container.km-tabstrip .km-button {
    vertical-align: top;
}
#kendoUiMobileApp #navigation-container.km-tabstrip .km-button .km-text {
    max-width: 100%;
    word-wrap: break-word;
}
#kendoUiMobileApp #navigation-container .active {
    background: #10c4b2;
    color: #fff;
}
#kendoUiMobileApp #navigation-container .active:after {
    color: #fff;
}
#kendoUiMobileApp.km-nova #navigation-container.km-tabstrip .km-button {
    vertical-align: middle;
}
#kendoUiMobileApp.km-nova p {
    margin-left: 1rem;
    margin-right: 1rem;
}
#kendoUiMobileApp.km-nova span.km-switch {
    color: #ff4350;
}
#kendoUiMobileApp.km-nova span.km-switch.km-switch-on input[type=checkbox]:checked + span + span {
    border-color: #ff4350;
    background-color: #ff4350;
}
#kendoUiMobileApp .unsupported-preview {
    text-align: center;
    margin-top: 12rem;
}
#kendoUiMobileApp .info-icon {
    margin: 0 auto;
    width: 3.3rem;
    height: 3.3rem;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAABmJLR0QA/wD/AP+gvaeTAAABIklEQVRoge3YMU4CURDG8R+KqImGxNoTWNgYqSgtvYBn8EY2nkE7LTwItbGUwhgLFSxgLTS4i4w+SOafTDc73/vydva9HZIkSZIlooNrPM6IK2wUW10DehjXRC9ScC2ymMkOROQ0JtrAv5MGvjAKyinGLgZmN/AAO5GCrchiU9rY9313R7jH2x9oJslvieqBU5z5+Zowwh0ugjTD6OBF/RWiioNI8YhzYBtbc+TvBWh+kiexwt/1CAPPuMR7QK3i9NU3cT9SMHugNGmgNGmgNCtvYD2ozjHOcYLDmtxNHOEJD0H6C9HGUPPbaBXD6bPF6Zp/8VV0FxVf+R6IMLDInGdpZkS35n99biKEo/6JWyazoKaj81eTGdE4SD9JkiRJVpMPXjloDVm2S04AAAAASUVORK5CYII=');
    background-repeat: no-repeat;
}
#kendoUiMobileApp .editableListItem span {
    float: left;
}
#kendoUiMobileApp .km-content .details-content .editableListItem {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
#kendoUiMobileApp .km-content .details-content p {
    padding: 1rem;
    margin: 0;
}
#kendoUiMobileApp .km-content .details-content .editableListItem:first-of-type {
    border-top: 0;
}
#kendoUiMobileApp .details-content .editableListItem + .editableListItem {
    border-top: 0;
}
#kendoUiMobileApp .km-content li label:not(.km-label-above) > span:not(.km-widget),
#kendoUiMobileApp .editableListItem > span {
    display: inline-block;
    word-break: break-word;
    width: 30%;
    padding-right: 10px;
}
#kendoUiMobileApp .km-content li p {
    margin-left: 0;
    margin-right: 0;
}
#kendoUiMobileApp .editableListItem {
    overflow: hidden;
    width: 100%;
}
#kendoUiMobileApp.km-nova .details-content {
    font-size: 1.2em;
}
#kendoUiMobileApp .km-list label:not(.km-label-above) input[type="password"],
#kendoUiMobileApp .km-list label:not(.km-label-above) input[type="search"],
#kendoUiMobileApp .km-list label:not(.km-label-above) input[type="number"],
#kendoUiMobileApp .km-list label:not(.km-label-above) input[type="tel"],
#kendoUiMobileApp .km-list label:not(.km-label-above) input[type="url"],
#kendoUiMobileApp .km-list label:not(.km-label-above) input[type="email"],
#kendoUiMobileApp .km-list label:not(.km-label-above) input[type="month"],
#kendoUiMobileApp .km-list label:not(.km-label-above) input[type="color"],
#kendoUiMobileApp .km-list label:not(.km-label-above) input[type="week"],
#kendoUiMobileApp .km-list label:not(.km-label-above) input[type="date"],
#kendoUiMobileApp .km-list label:not(.km-label-above) input[type="time"],
#kendoUiMobileApp .km-list label:not(.km-label-above) input[type="datetime"],
#kendoUiMobileApp .km-list label:not(.km-label-above) input[type="datetime-local"],
#kendoUiMobileApp .km-list label:not(.km-label-above) input[type="text"]:not(.k-input),
#kendoUiMobileApp .km-list select:not([multiple]),
#kendoUiMobileApp .km-list label:not(.km-label-above) .k-dropdown-wrap,
#kendoUiMobileApp .km-list label:not(.km-label-above) textarea,
#kendoUiMobileApp .editableListItem > span:last-child {
    min-width: 70%;
}
/* primary buttons */

#kendoUiMobileApp.km-flat .button-group .km-button.primary {
    background-color: #10c4b2;
}
#kendoUiMobileApp.km-nova .button-group .km-button.primary {
    background-color: #ff4350;
    border-color: #ff4350;
}
#kendoUiMobileApp.km-flat .button-group .km-button.primary {
    color: #fff;
}
#kendoUiMobileApp.km-ios7 .button-group .km-button.primary {
    color: #fff;
    background-color: #007aff;
}
#kendoUiMobileApp.km-android .button-group .km-button.primary {
    color: #fff;
    background-color: #33b5e5;
}
/* buttons */

#kendoUiMobileApp.km-nova .button-group .km-button.primary,
#kendoUiMobileApp.km-nova .km-button.km-state-active {
    color: #fff;
}
/* form label position */

#kendoUiMobileApp.km-flat .form-content .form-content-item .km-label-above {
    font-size: 0.8em;
}
#kendoUiMobileApp.km-flat .form-content .form-content-item .km-label-above input:not([type='checkbox']):not([type='radio']),
#kendoUiMobileApp.km-flat .form-content .form-content-item .km-label-above select:not([multiple]),
#kendoUiMobileApp.km-flat .form-content .form-content-item .km-label-hidden input:not([type='checkbox']):not([type='radio']),
#kendoUiMobileApp.km-flat .form-content .form-content-item .km-label-hidden select:not([multiple]) {
    width: 100%;
    position: static;
    margin-left: -0.4rem;
    margin-right: -0.4rem;
}
#kendoUiMobileApp.km-flat .form-content .form-content-item .km-label-hidden input:not([type='checkbox']):not([type='radio']),
#kendoUiMobileApp.km-flat .form-content .form-content-item .km-label-hidden select:not([multiple]) {
    position: absolute;
}
#kendoUiMobileApp.km-nova .form-content .form-content-item .km-label-hidden input:not(.k-input):not([type='checkbox']):not([type='radio']),
#kendoUiMobileApp.km-nova .form-content .form-content-item .km-label-hidden select:not([multiple]) {
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
#kendoUiMobileApp.km-nova .form-content .form-content-item .km-listview-label.km-label-above {
    width: auto;
}
/* custom filter */

#kendoUiMobileApp.km-flat .custom-filter input {
    font-size: 1.2em;
    padding: .3em 0 .3em 1.8em;
}
#kendoUiMobileApp.km-flat .km-filter-wrap:before {
    position: absolute;
    top: .25em;
}
#kendoUiMobileApp.km-nova .custom-filter input {
    padding: .5em 0 .5em 1.8em;
}
#kendoUiMobileApp.km-nova .km-filter-wrap:before {
    color: #cacdce;
}
/* START_CUSTOM_CODE_kendoUiMobileApp */
/* Success template */

.k-notification-upload-success.k-group {
    background: rgba(0%, 60%, 0%, .7);
    color: #fff;
}
.upload-success {
    width: 290px;
    height: 100px;
    padding: 0 30px;
    line-height: 100px;
}
.upload-success h3 {
    font-size: 1.7em;
    font-weight: normal;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
}
.upload-success img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
/* Error template */

.k-notification-error.k-group {
    background: rgba(100%, 0%, 0%, .7);
    color: #ffffff;
}
.wrong-pass {
    width: 300px;
    height: 100px;
}
.wrong-pass h3 {
    font-size: 1.7em;
    padding: 5px 10px 5px;
    color: #fff;
}
.wrong-pass span {
    font-size: 12px;
    padding: 5px 10px 5px;
    color: #fff;
}
.wrong-pass img {
    float: left;
    margin: 5px 15px 15px 10px;
}
.attendees-ul li {
    /*padding: 5px 15px !important;*/
}
.attendees-ul li .name {
    font-size: 12px;
    display: block;
    color: gray;
    font-weight: bold;
    line-height: 30px;
}
.attendees-ul li .city {
    font-size: 12px;
    color: rgba(37, 154, 218, 0.76);
    line-height: 10px;
    display: block
}
.attendees-ul li .status {
    float: right;
    line-height: 40px;    
/*     display: none; */
}
.attendees-ul li .checked {
    color: darkgreen;
} 
.attendees-ul li .denied {
    color:darkred;
} .attendees-ul li .sent {
    color:#2A2D40;
} 
.km-message:after,
.km-message:before {
    content: "\e099";
}
.km-plus:after,
.km-plus:before {
    content: "\e200";
}
.k-invalid-msg {
    background-color: #ffcdd2;
    color: #ff3448;
    border-color: #ffcdd2;
}
.showphoto {
    display: block !important;
}
.showcolor {
    display: block !important;
}
#singleActivity > .bigImage {
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#singleActivity > .singleActivityHeader {
    height: 200px;
    width: 100%;
}
#singleActivity .headerTitle {
    line-height: 200px;
    text-align: center;
}
#singleActivity .headerTitle img {
    float: left;
    position: fixed;
    top: 140px;
    left: 10px;
    margin-right: 0px;
}
#singleActivity .headerTitle span {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
}
#singleActivity > .singleActivityDetails {
    display: block;
    float:left;
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #666666;
    font-size: 18px;
    color: #fff;
    border-width: 0 0 1px 0;
    /*border-style: solid;
    border-color: #353535;*/
}
#singleActivity .time {
    display: block;
    float:left;
    padding: 5px 0 5px 5px;
    width: 46%;
    text-align: left;
    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: #fff;
    /*border-color: #353535;*/
}
#singleActivity .description {
    padding: 5px;
    background-color: #fff;
    font-size: 14px;
    text-align: left;
    color: #353535;
    margin-top: 10px;
    min-height: 50px;
}
#singleActivity .singleActivityAddress {
    display: block;
    float: left;
    padding: 5px 0 5px 10px;
    width: 54%;
    font-size: 15px;
    text-align:left;
    /*min-height: 50px;*/
}
#singleActivity .singleActivityBy {
    padding: 5px;
    width: 100%;
    margin: 10px 0;
    background-color: #fff;
    min-height: 50px;
    text-align: center;
}
#singleActivity .singleActivityBy span {
    display: block;
    font-size: 12px;
    font-weight: normal;
    line-height: 15px;
}
#singleActivity .singleActivityBy img {
    border-radius: 0%;
    border: 0px;
    float: none;
    margin-right: 0px;
}
#singleActivity .singleActivityImIn {
    padding: 5px;
    width: 100%;
    margin: 10px 0;
    background-color: #fff;
    min-height: 50px;
    text-align: center;
}
#singleActivity .singleActivityImIn a {
    display: block;
    font-size: 12px;
    font-weight: normal;
    line-height: 15px;
}
#kendoUiMobileApp footer.km-footer {
    background: #F8F8F8;
    border-top-style: solid;
    border-top-color: #E1E1E1;
}
#kendoUiMobileApp .km-widget.km-tabstrip{
    background: #F8F8F8;
}
#kendoUiMobileApp footer.km-footer a.km-button {
    background: #F8F8F8;
    color: #87D8F5;
    /*border: 1.5px solid #E1E1E1;*/
}
#kendoUiMobileApp footer.km-footer a.km-button.km-state-active span.km-icon, a.km-button.km-state-active span.km-text{
    color: #009FE3;
}
#kendoUiMobileApp div#navigation-container {
    background: #F8F8F8;
}
#kendoUiMobileApp header.km-header {
    background: #009FE3;
    color: #F8F8F8;
    border-bottom-style: solid;
    border-bottom-color: #E1E1E1;
    /*background-color: #7FBFFF;
    background-image: linear-gradient(#7FBFFF,#fff);
    background: #7FBFFF;
    background: linear-gradient(#7FBFFF,#fff);*/
}
#viewProfile header.km-header {
    border-bottom-color: #009FE3;
}
#kendoUiMobileApp header.km-header .km-widget.km-navbar {
    background: #009FE3;
    color: #F8F8F8;
    /*background-color: #7FBFFF;
    background-image: linear-gradient(#7FBFFF,#fff);
    background: #7FBFFF;
    background: linear-gradient(#7FBFFF,#fff);*/
}
#kendoUiMobileApp header.km-header a.km-button {
    color: #F8F8F8;
}
#kendoUiMobileApp header.km-header .km-view-title {
    color: #F8F8F8;
}
#kendoUiMobileApp header.km-header km-icon, km-text {
    color: #F8F8F8;
}
/*.km-nova .km-content {
    background-color: white;
}
.km-content.km-widget.km-scroll-wrapper {
    background-color: white;
}
.km-widget.km-listview {
    background-color: white;
}*/
a.j-listview-item.km-listview-link::after {
    top: 154px;
    right: 20px;
    height: 20px;
    width: 20px;
}
a.j-listview-item.km-listview-link img.km-thumbnail {
    height: 70px;
    width: 70px;
}
ul#select-period-mygames.km-widget.km-buttongroup {
    width: 90%;
}
ul#select-period-mygames.km-widget.km-buttongroup li.km-button {
    display: inline-block;
    font-size: 12px;
    width: 25%;
    max-width: 25%;
    background: rgba(0,0,0,0);
    background-color: rgba(0,0,0,0);
    border-color: white;
}
ul#select-period-mygames.km-widget.km-buttongroup li.km-button span.km-text {
    color: #F8F8F8;
}
ul#select-period-mygames.km-widget.km-buttongroup li.km-button span.km-text a {
    color: #F8F8F8;
}
ul#select-period-mygames.km-widget.km-buttongroup li.km-button.km-state-active {
    display: inline-block;
    font-size: 12px;
    width: 25%;
    max-width: 25%;
    background-color: #F8F8F8;
    background: #F8F8F8;
    border-color: white;
}
ul#select-period-mygames.km-widget.km-buttongroup li.km-button.km-state-active span.km-text {
    color: #009FE3;
}
ul#select-period-mygames.km-widget.km-buttongroup li.km-button.km-state-active span.km-text a {
    color: #009FE3;
}
div#buttonImIn a.km-primary.km-justified.km-widget.km-button {
    width:40%;
    margin: 0 auto;
    background-color:#34A853;
    border-color:#009FE3;
}
div#buttonAF a.km-primary.km-justified.km-widget.km-button {
    width:40%;
    margin: 0 auto;
    background-color:#34A853;
    border-color:#009FE3;
}
div#buttonRF a.km-primary.km-justified.km-widget.km-button {
    width:40%;
    margin: 0 auto;
    /*background-color:#34A853;
    border-color:#009FE3;*/
}
#singleActivity .whosgoing {
    width: 100%;
    background-color: #fff;
    text-align: center;
    font-size: 12px;
    font-weight: normal;
    line-height: 15px;
}
#singleActivity .whosgoing span {
    display: inline-block;
    margin: 0 auto;
    width: 100%;
    background-color: #fff;
}
.signinEmail {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}
.signinEmail .input-group {
    margin: 0 auto;
    width: 80%;
    margin-bottom: 5px;
}
.signupEmail {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}
.signupEmail .input-group {
    margin: 0 auto;
    width: 80%;
    margin-bottom: 5px;
}
.authSocial {
    width: 100%;
    color: white;
}
.authSocial a{
    margin: 0 auto;
    width: 80%;
    margin-bottom: 5px;
}
div#signIn .km-content.km-widget.km-scroll-wrapper{
    /*background-color: #009FE3;*/
}
.km-navbar {
    margin-top:20px;
}
#viewActivity #map_canvas {
    display: -webkit-box;
    width: 100%;
}
/*#profile label.km-required.km-label-above {
    color: #A4A4A4;
    font-size: 16px;
}
#profile label.km-required.km-label-above input {
    color: #009FE3;
    font-size: 14px;
}
#profile ::-webkit-input-placeholder {
    color:    #909;
}*/
#formProfile, #formNewActivity, #formNewContact {
    width: 100%;
    margin-top: 40px;
}
#formProfile .input-group, #formNewActivity .input-group, #formNewContact .input-group {
    margin: 0 auto;
    width: 85%;
    height: 30px;
    margin-bottom: 5px;
}
#formProfile .input-group input, #formNewActivity .input-group input, #formNewContact .input-group input {
    /*color: #009FE3;*/
}
#formProfile fieldset, #formNewActivity fieldset, #formNewContact fieldset{
    margin: 0 auto;
    width: 85%;
    margin-bottom: 15px;
}
#formProfile textarea, #formNewActivity textarea, #formNewContact textarea {
    margin: 0 auto;
    width: 100%;
    margin-bottom: 5px;
}
#formNewActivity span.km-switch.km-widget.km-switch-off {
    /*float: left;*/
}
#profile {
    width:100%;
}
#profile li {
    margin: 0 auto;
    margin-top: 8px;
    margin-left: -35px;
    border-bottom-width: 1.5px;
    border-bottom-style: solid;
    border-bottom-color: #E1E1E1;
}
#viewActivity #map_canvas {
    display: -webkit-box;
    width: 90%;
    height: 240px;
    /*border: 1.5px solid #E1E1E1;*/
}
#viewActivity .km-listview-wrapper {
    width: 100%;
    border-style: none;
    margin-top: 10px;
    margin-bottom:10px;
}
#viewActivity .km-listview-wrapper ul {
    width: 80%;
    margin: 0 auto;
    list-style-type: none;
    text-align: center;
    padding: 0px;
    zoom:1;
    overflow: hidden;
}
#viewActivity .km-listview-wrapper li {
    border-style: none;
    display:inline-block;
    padding: 0 0 0 0;
    margin-bottom: 15px;
}
#viewActivity .km-listview-wrapper li > img {
    margin: 0 0.5rem 0 0.5rem;
}
/* Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes */
/* END_CUSTOM_CODE_kendoUiMobileApp */