<div data-role="view" data-title="New" data-layout="main" data-model="app.new" data-init="app.sporttype.onInit" data-show="app.sporttype.onShow" data-after-show="app.sporttype.afterShow">
    <header data-role="header">
        <div data-role="navbar">
            <a id="back-button" class="nav-button" data-align="left" data-role="backbutton">Back</a>
            <span data-role="view-title"></span>
            <a href="components/home/invite.html" class="nav-button" data-align="right" data-role="button" data-click="saveNewActivity">Save</a>
        </div>
    </header>
    <form id="formSelectSport">
        <ul data-role="listview" data-style="inset" data-type="group">
            <li>
                Select Sport Type
                <ul>
                    <li>
                        <label>
                            <input type="radio" name="sporttype" id="2" value="2" checked="checked" data-bind="checked: sporttype" />Bowling
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="radio" name="sporttype" id="6" value="6" data-bind="checked: sporttype" />Football
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="radio" name="sporttype" id="10" value="10" data-bind="checked: sporttype" />Basketball
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="radio" name="sporttype" id="14" value="14" data-bind="checked: sporttype" />Tennis
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="radio" name="sporttype" id="13" value="13" data-bind="checked: sporttype" />Ping Pong
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="radio" name="sporttype" id="11" value="11" data-bind="checked: sporttype" />Squash
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="radio" name="sporttype" id="12" value="12" data-bind="checked: sporttype" />Golf
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="radio" name="sporttype" id="8" value="8" data-bind="checked: sporttype" />Volleyball
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="radio" name="sporttype" id="5" value="5" data-bind="checked: sporttype" />Baseball
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="radio" name="sporttype" id="16" value="16" data-bind="checked: sporttype" />Boxing
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="radio" name="sporttype" id="17" value="17" data-bind="checked: sporttype" />VTT
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="radio" name="sporttype" id="18" value="18" data-bind="checked: sporttype" />Promenade
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="radio" name="sporttype" id="19" value="19" data-bind="checked: sporttype" />SKI
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="radio" name="sporttype" id="20" value="20" data-bind="checked: sporttype" />Swimming
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="radio" name="sporttype" id="21" value="21" data-bind="checked: sporttype" />Sail
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="radio" name="sporttype" id="22" value="22" data-bind="checked: sporttype" />kite
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="radio" name="sporttype" id="23" value="23" data-bind="checked: sporttype" />Riding
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="radio" name="sporttype" id="24" value="24" data-bind="checked: sporttype" />Surf
                        </label>
                    </li>
                </ul>
            </li>
        </ul>
    </form>
</div>